* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' sans-serif;
    list-style: none;
  }
  .navbarMenu {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .hamburger-bars {
    margin-left: 2rem;
    margin-top: 0.5rem;
    font-size: 2.7rem;
    background: none;
  }
  .carmony-logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
  .carmony-logo img {
    width: 220px;
    margin-left: 5rem;
    padding-bottom: 80px;
    margin-top: 5rem;
  }
  
  .nav-menu {
    background-color: #000;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%; /*display the hamburgerMenu bar*/
    transition: 850ms;
    z-index: 2; /* Set a higher z-index value */
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: rgb(2, 125, 167);
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  
  .top-rightbox{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
  }
  
  .user-icon {
    color: #000000; 
    font-size: 20px; 
    padding: 0px 6px 0px 0px;
  
  }
  .profile-icon {
    width: 50px;
    height: 25px;
    color: #000000; 
    font-size: 10px; 
    padding: 10px 5px 10px 5px;
    margin: 1rem;
    background-color: rgb(246, 249, 247);
  }
  .Post ul {
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 255, 99);
    padding: 0.5rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
  }
  .Post ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
  }
  
  .Post a:hover{
    color:#0041cb;
  }
  
  .Login ul {
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
  }
  .Login ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
    
  }
  
  .Login a:hover{
    color:#0a4fe3;
  }
  .SignUp ul {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.2rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    margin-right: 2rem;
  }
  
  .SignUp ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
  }
  
  .SignUp a:hover {
    color:#0a4fe3;
  }
  
  .filter-container {
    display: flex;
  
    /*flex-direction: row;
    flex-wrap: wrap; */
  }
  
  .filter-box {
    display: flex;
    height: 2250px;
  }
  
  .side-bar {
    flex: 28%;
    background-color:rgb(146, 252, 247);
    padding: 1rem;
    height: 2350px;
  }
  
  .filter-search {
    display: flex;
    flex-direction: column; 
    margin-bottom: 1rem;
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .filter-header h2 {
    font-size: 26px;
  }
  
  input[type="text"] {
    /* Your input styles here */
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #a0a0a0;
  }
  
  .customer-choices {
    display: flex;
    flex-direction: column; 
  }
  
  .choices {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  
  .choices h3 {
    color: #ffffff;
    background-color: rgb(82, 82, 82);
    text-decoration: none;
    text-decoration: underline;
    width: 95px;
    text-align: center;
    padding: 16px;
  
  }
  
  .choices h3:hover {
    color: #dec101;
    background-color: #000;
  }
  
  .dropdown-section {
    width: 100%;
  
  }
  
  .dropdown-section li {
    margin: 0px;
    transition: 0.5s;
    margin-bottom: 50px;
    font-size: 24px;
    margin-left: 5px;
  }
  
  .dropdown-section li:hover .dropdown-content {
    display: block;
  }
  
  .arrow-container {
    cursor: pointer;
  }
  
  .arrow-container h3 {
    display: flex;
    align-items: center;
  }
  
  .arrow-container h3 p {
    margin-right: 10px;
    font-size: 28px;
  }
  
  .arrow-container .arrow-icon {
    margin-left: auto;
    cursor: pointer;
  }
  
  .dropdown-section li h3 svg {
    transition: transform 0.2s;
  }
  
  /* Rotate the icon when the dropdown is open */
  .dropdown-section li.h3-clicked h3 svg {
    transform: rotate(180deg);
  }
  
  .dropdown-content label {
    display: flex; 
    vertical-align: middle; /*make it in the same line*/
    margin-bottom: 1.2rem;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    
  }
  .dropdown-content label input{
    accent-color: #fff;
    margin-left: 20px;
  }
  
  .dropdown-content label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-left: 2rem;
    margin-top: -1rem;
  }
  
  .dropdown-content input[type="checkbox"]:checked {
    background-color: rgb(50, 126, 248);
  }
  
  .dropdown-content input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode checkmark character */
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }  
  
  .search button {
    padding: 3px 6px;
    background-color: #000000; 
    color: #ffffff !important; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
  }
  
  .search p {
    color: #fff;
    font-size: 20px;
  }
  
  .search button:hover {
    background-color: none; 
  }
  
  .filtered-results {
    margin-left: 90px; 
    color: #000;
  }
  
  .filtered-results li {
    margin-bottom: 6px; 
    margin-top: -5px;
    font-size: 22px;
    color: #000;
    font-weight: 600;
  }
  
  .model-label {
    display: flex;
    align-items: center;
  }
  
  .model-label span {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1rem;
    color: #000;
    margin-bottom: 10px;
  }
  
  /* 
  .filtered-results ul {
    list-style: none; 
    display: block;
    padding: 0;  
  }
  */
  
  .make-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .make-label span {
    margin-left: 5px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 0rem;
    color: #000;
    margin-bottom: 8px;
  }
  
  .dropdown-content {
    border-top: none;
    margin-bottom: 1.5rem;
    /* background-color: #b5fcfe; */
  }
  
  .dropdown-section .dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 600;;
    /*  background-color: #b5fcfe;*/
  
  }
  
  /*.dropdown-section .dropdown-content a:hover {
    background-color: #00eaf3;
  }*/
  
  .container {
    /*width: 100%;
    margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  .container a {
    text-decoration: none;
    color: #000;
  }
  
  .products-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; 
  }
  
  .products-item {
    box-shadow: 0 0 5px rgb(73, 69, 69);
    text-decoration: none;
    width: 100%;
    height: 50%;
  }
  
  .products-detail {
    padding: 0.5rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
  }
  
  .products-img {
  
  }
  
  .products-img img {
    width: 100%;
    height: 100%;
  }
  
  .products-price {
    margin-top: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .products-left h3 {
    background-color: #f8e916;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .meleage-city {
    display: flex;
    justify-content: space-around;
  }
  
  .mileage {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .mileage-left {
    display: flex;
  }
  .mileage-left h4 {
    margin-top: 0.3rem;
  }
  .mile-image img {
    display: flex;
    width: 30px;
    padding: 4px;
    margin-right: 0.5rem;
    align-content: center;
    justify-content: center;
  }
  
  .city {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .city-right {
    margin-top: 0.3rem;
  }
  
  .arrows {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  .link-with-arrow {
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    color: #000; 
    cursor: pointer;
    font-size: 30px;
    margin-left: 1rem;
  }
  
  .arrows span {
    font-size: 18px;
  }
  
  .footer {
    left: 0;
    margin-top: 2rem;
    background: #000;
    padding: 1rem;
    text-align: center;
    color: #fff;
    width: 100%;
    position: absolute;
     /* flex-grow: 1;make it stay at bottom */
  }
  