
.navbarMenu {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.hamburger-bars {
    margin-left: 2rem;
    font-size: 2.7rem;
    background: none;
}
.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.logo img {
    width: 200px;
    margin-left: 3rem;
    padding-bottom: 80px;
}

span {
    margin-left: 16px;
}

.top-rightbox{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.user-icon {
    color: #000000; 
    font-size: 20px; 
    padding: 0px 6px 0px 0px;

}

#Post ul {
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10ef38;
    padding: 0.5rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
}
#Post ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
    
}

#Post a:hover{
    color:#022b84;
}

#Login ul {
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
}
#Login ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
    
}

#Login a:hover{
    color:#022b84;
}
#SignUp ul {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.2rem;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    margin-right: 2rem;
}

#SignUp ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin: 0.2rem;
}

#SignUp a:hover {
    color:#022b84;
}

.row {
    display: flex;
}

.left { 
    flex: 15%;
    padding: 15px 0;
}
.left h2 {
    padding-left: 8px;
    color: #000000;
}
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #a0a0a0;
}
#myMenu {
    list-style-type: none;
    display: contents;
    width: 100%;
}
#myMenu li {
    margin: 0;
    transition: 0.5s;
}
#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
}
#myMenu li a:hover {
    background-color: #8bdaf7;
}