span {
    margin-left: 16px;
}

.container{
    height: 100px;
}

.forgot-password{
    background:#e2e2e2;
    padding: 30px 120px;
    width: 620px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
}

.forgot-password h1{
    color:#020569;  
    font-size: 36px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.forgot-password h3{
    font-size: 18px;
    margin-bottom: -10px;
    margin-right: 110px;
}

.forgot-password input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    padding: 10px 10px;
    margin-bottom: 1rem;
    background: #ffffff;
    border: 2px solid #575757;
}

.input-box {
    position: relative;
}  

.icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    font-size: 24px;
    transform: translateY(-50%);
    pointer-events: none; /* To make the icon non-interactive */
  }
  
  input[type="email"] {
    padding-left: 35px; 
  }

.forgot-password input::placeholder{
    color: #000000; 
    font-weight: 600;
}

.forgot-password .btn{
    width: 50%;
    height: 45%;
    color:#001ea5;   
    background: #ffffff;
    border: 2px solid #001ea5;
    outline: none;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 600;
}

