* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato' sans-serif;
  list-style: none;
}
.navbarMenu {
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 8px 4px 4px rgb(72, 72, 72);
}

.hamburger-bars {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: 2.7rem;
  background: none;
  box-shadow: 6px 4px 4px rgb(0, 132, 90);
}

.nav-bar-menu {
  background-color: #000;
  width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%; /*display the hamburgerMenu bar*/
  transition: 850ms;
  z-index: 2; /* Set a higher z-index value */
}

.nav-bar-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-bar-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-bar-text a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-bar-text a:hover {
  background-color: rgb(2, 125, 167);
  
}

.nav-bar-menu-items {
  width: 100%;
}

.nav-bar-toggle {
  background-color: #000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.user-icon {
  color: #000000; 
  font-size: 20px; 
  padding: 0px 6px 0px 0px;
}
.User-Profile {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin: 1rem;
  margin-right: 2rem;
}
.profile-icon {
  color: #000000; 
  font-size: 20px; 
  padding: 0px 6px 0px 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.UserProfile-btn :hover {
  background-color:#86f7fd;
}

.Posting-btn {
  background-color: rgb(47, 255, 99);
  border-radius: 10px;
}
.Posting-btn :hover {
  color: #1900ff;
  transition:all;
}

.Login-btn :hover{
  background-color:#86f7fd;
  color: #003bc5;
  transition:all;
}

.SignUp-btn :hover {
  background-color:#86f7fd;
  color: #003bc5;
  transition:all;
}

.Logout-btn {
  font-weight: 800;
  padding-right: 1rem;
}

.Logged-out {
  font-size: 20px;
  margin-left: 3.5rem;
  color: #1621f8;
}

.Logged-out :hover{
  background-color:#86f7fd;
}

.filter-container {
  display: flex;

  /*flex-direction: row;
  flex-wrap: wrap; */
}

.clear-filter {
  text-decoration: underline;
}

.filter-box {
  display: flex;
  height: 2250px;
}

.filter-side-bar {
  flex: 25%;
  background-color: #FFCE44;
  padding: 1rem;
  height: 2800px;
  box-shadow: 4px 4px 6px #000000;
}
.choices-link {
  text-decoration: none;
}

.choices h3 {
  box-shadow: 4px 5px 4px rgb(0, 0, 0);
  margin: 0.2rem;
}

.dropdown-section {
  width: 100%;
}

.dropdown-section li {
  margin: 0px;
  transition: 0.5s;
  margin-bottom: 50px;
  font-size: 28px;
  margin-left: 5px;
}

.dropdown-section li:hover .dropdown-content {
  display: block;
}

.arrow-container {
  cursor: pointer;
}

.arrow-container h3 {
  display: flex;
  align-items: center;
}

.arrow-container h3 p {
  margin-right: 10px;
  font-size: 28px;
}

.arrow-container .arrow-icon {
  margin-left: auto;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.dropdown-section li h3 svg {
  transition: transform 0.2s;
}

/* Rotate the icon when the dropdown is open */
.dropdown-section li.h3-clicked h3 svg {
  transform: rotate(180deg);
}

.dropdown-content label {
  display: flex; 
  vertical-align: middle; /*make it in the same line*/
  margin-bottom: 1.2rem;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  
}
.dropdown-content label input{
  accent-color: #fff;
  margin-left: 20px;
}

.dropdown-content label input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-left: 2rem;
  margin-top: -1rem;
}

.dropdown-content input[type="checkbox"]:checked {
  background-color: rgb(50, 126, 248);
}

.dropdown-content input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode checkmark character */
  display: block;
  color: #fff;
  font-size: 18px;
  text-align: center;
}  

.search button {
  padding: 3px 6px;
  background-color: #000000; 
  color: #ffffff !important; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}

.search p {
  color: #fff;
  font-size: 20px;
}

.search button:hover {
  background-color: rgb(0, 154, 162); 
}

.filtered-results {
  margin-left: 90px; 
  color: #000;
}

.filtered-results li {
  margin-bottom: 6px; 
  margin-top: -5px;
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

.model-label {
  display: flex;
  align-items: center;
}

.model-label span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1rem;
  color: #000;
  margin-bottom: 10px;
}

.make-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.make-label span {
  margin-left: 5px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 0rem;
  color: #000;
  margin-bottom: 8px;
}

.year-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.year-label span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 0rem;
  color: #000;
  margin-bottom: 8px;
}

.price-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-label span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 0rem;
  color: #000;
  margin-bottom: 8px;
}

.mileage-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mileage-label span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 0rem;
  color: #000;
  margin-bottom: 8px;
}

.dropdown-content {
  border-top: none;
  margin-bottom: 1.5rem;
  /* background-color: #b5fcfe; */
}

.dropdown-section .dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: 600;;
  /*  background-color: #b5fcfe;*/

}

/*.dropdown-section .dropdown-content a:hover {
  background-color: #00eaf3;
}*/

.car-container {
  /*width: 100%;
  margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 1rem;
  
}
.car-container a {
  text-decoration: none;
  color: #000;
}

.products-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; 
}

.products-item {
  box-shadow: 0 0 5px rgb(73, 69, 69);
  text-decoration: none;
  width: 100%;
  height: 50%;
}

.products-detail {
  padding: 0.5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.products-img img {
  width: 100%;
  height: 100%;
}

.products-price {
  margin-top: 1rem;
  margin-bottom: 20px;
  text-decoration: none;
}
.price-left h3 {
  background-color: rgb(47, 255, 99);
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  margin-left: 7rem;
  margin-right: 7rem;
}

.meleage-city {
  display: flex;
  justify-content: space-around;
}

.mileage {
  margin-bottom: 20px;
  font-size: 18px;
}

.mileage-left {
  display: flex;
}
.mileage-left h4 {
  margin-top: 0.3rem;
}
.mile-image img {
  display: flex;
  width: 30px;
  padding: 4px;
  margin-right: 0.5rem;
  align-content: center;
  justify-content: center;
}

.city {
  margin-bottom: 20px;
  font-size: 18px;
}

.city-right {
  margin-top: 0.3rem;
}

.next-page {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.arrow {
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #000; 
  cursor: pointer;
  font-size: 30px;
  margin-left: 1rem;
  margin-top: 25rem;
  background-color: black;
  color: white;
  padding: 20px;
}

.arrow-holding-box {
  display: flex;
  justify-content: center;
}

.next-page span {
  font-size: 18px;
  margin-top: 25rem;
}

.home-footer {
  left: 0;
  margin-top: 5rem;
  background: #000;
  padding: 1rem;
  text-align: center;
  color: #fff;
  width: 100%;
  position: absolute;
   /* flex-grow: 1;make it stay at bottom */
}

.viewPostClickableArea {
  background-color: powderblue;
  margin: 0px;
  padding: 0px;
}

.viewPostTextDisplay {
  background-color: lightcoral;
}
