.navbar {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.hamburger-bars {
    margin-left: 2rem;
    font-size: 2.7rem;
    background: none;
}
.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.logo img {
    width: 200px;
    margin-left: 3rem;
    padding-bottom: 80px;
}

.nav-menu {
    background-color: #000;
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%; /*display the hamburgerMenu bar*/
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(2, 125, 167);
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.container {
    height: 1200px;
}

.signup-box {
    background:#e2e2e2;
    padding: 30px 120px;
    width: 750px;
    height: 1000px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); /*box location*/
    text-align: center;
    border-radius: 20px;
}

.signup-box h3 {
    font-size: 40px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.signup-box h3 {
    font-size: 24px;
    margin-bottom: 1.5rem;    
}

.accountOption {
    display: flex;
    margin-bottom: 2rem;  
    justify-content: center;
}

.accountOption h2 {
    font-size: 18px;
    color: #000000;
    border: 2px rgb(0, 0, 0) solid;
    background-color: aquamarine;
    padding: 8px;
}

.accountOption h2:hover {
    color: #0067ee;
}

.accountOption h3 {
    font-size: 20px;
    padding: 8px;
}

.name h3 {
    font-size: 16px;
    margin-right: 278px;
    margin-bottom: 4px;
    margin-top: 15px;
}

.signup-box .name input {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.email-address h3 {
    font-size: 16px;
    margin-right: 252px;
    margin-bottom: 4px;
    margin-top: 15px;
}

.signup-box .email-address input {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.signup-box .email-address .input-box input {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.signup-box .newPassword input {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.newPassword h3 {
    font-size: 16px;
    padding-right: 252px;
    margin-bottom: 4px;
    margin-top: 15px;
}

.signup-box .confirmPassword input {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.confirmPassword h3 {
    font-size: 16px;
    padding-right: 190px;
    margin-bottom: 4px;
    margin-top: 15px;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px 10px;
}

input[type="email"] {
    font-size: 16px;
    padding: 12px 12px;
}

input[type="password"] {
    font-size: 16px;
    padding: 12px 12px;
}

.signup-box input::placeholder{
    color:#000;  
}

.show-password-toggle label {
    display: flex; 
    vertical-align: middle; /*make it in the same line*/
    margin-bottom: 1.2rem;
    margin-top: 30px;
    align-items: center;
}
.show-password-toggle label input{
    accent-color: #fff;
    margin-left: 20px;
}

.show-password-toggle label h5 {
    font-size: 16px;
    color: #0067ee;
    text-decoration: none;
    font-weight: 600;
    margin-left: 6px;
    margin-top: -1rem;
}

.show-password-toggle label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-left: 5rem;
    margin-top: -1rem;
}
  
.show-password-toggle input[type="checkbox"]:checked {
    background-color: rgb(50, 126, 248);
}
  
.show-password-toggle input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode checkmark character */
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
}  

.reCaptcha {
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup-box .btn{
    width: 40%;
    height: 5%;
    background: rgb(185, 185, 185);
    border:2px solid #060606;
    outline: none;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    cursor: pointer;
    font-weight: 600;
}

.social-connect {
    margin-top: 2rem;
    margin-left: 5.5rem;
}
.social-connect button{
    width: 80%;
    margin-top: 0.5rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    border-radius: 30px;
    background: transparent;
    border: 1.5px solid #000;
    cursor: pointer;
    font-weight: 500;

    font-size: 16px;
}

.signup-box button img{
    width: 30px;
    margin-right: 0.5rem;
}

.account p {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
}

.account p a{
    color: #2d6efa;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0.5rem;
}

.register-link p a:hover{
    text-decoration: underline;
}

.policy p {
    font-size: 20px;
    margin-top: 2rem;
    padding-bottom: 6rem;
}


/*                        
<h3>Email Address</h3>
<input type="email" placeholder="" required />
</div>


<h3>Email Address</h3>
    <form onSubmit={handleSubmit}>
        <div className="input-box">
            <input 
                type="email" 
                placeholder="" 
                value={email}
                onChange={(e) => setEmail(e.target.value)}
            />
        </div>
      </form>
 */