.Reset-Password{
    background:#e2e2e2;
    padding: 30px 120px;
    width: 550px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
}

.Reset-Password h1{
    color:#020569;  
    font-size: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 5px;
}

.new-password h3{
    font-size: 16px;
    margin-right: 160px;
    margin-bottom: 2px;
}

.confirm-password h3{
    font-size: 16px;
    margin-right: 100px;
    margin-bottom: 2px;
}

.Reset-Password input{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    padding: 10px 10px;
    margin-bottom: 2rem;
    background: #ffffff;
    border: 2px solid #575757;
}

.show-password-toggle label {
    display: flex; 
    vertical-align: middle; /*make it in the same line*/
    margin-bottom: 1.2rem;
    margin-top: -10px;
}
.show-password-toggle label input{
    accent-color: #fff;
    margin-right: 8px;
}

.show-password-toggle h5{
    font-size: 16px;
    color: #020569;
    text-decoration: none;
    font-weight: 600;
}

.show-password-toggle input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-left: 25px;
}
  
.show-password-toggle input[type="checkbox"]:checked {
    background-color: rgb(50, 126, 248);
}
  
.show-password-toggle input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode checkmark character */
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
}  

.submit-button .btn{
    width: 50%;
    height: 45%;
    color:#001ea5;   
    background: #ffffff;
    border: 2px solid #001ea5;
    outline: none;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 600;
}

